<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="Source" value="DataBase" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebData-20150915074538.mdf;Initial Catalog=aspnet-WebData-20150915074538;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TestDataBaseEntities" connectionString="metadata=res://*/DAC.DataModel.csdl|res://*/DAC.DataModel.ssdl|res://*/DAC.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TIGER\MSSQLSERVER2014;initial catalog=TestDataBase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>



</configuration>
